# The address of Proxmox API
endpoint = "{{ pve["server"] }}"
# Proxmox node hosting lab topology as named in PVE Datacenter
node_name = "{{ pve["node"] }}"
# PVE pools to be created
pools = {
  "{{ lab["name"] }}" = {name = "{{ lab["name"] }}"}
}
# VMs created based on prepared templates
virtual_machines = {
  {% for device in lab["devices"] -%}
  {{ device["name"] }} = {
    clone = {
      vm_id = {{ device["template"] }}
      full  = true
    }
    name            = "{{ device["name"] }}"
    vm_id           = {{ device["id"] }}
    started         = false
    on_boot         = false
    stop_on_destroy = false # Whether to stop instead of shutdown during tf destroy
    pool_id         = "{{ lab["name"] }}" # If the ID does not exist it will be created
    tags            = "{{ device["tags"] }}"
    # hook_script_file_id = "" # Hookscript filename
    network_devices = {
      {% for key, value in device["nics"].items() -%}
      {{ key }} = {
        bridge       = "{{ value["network"] }}" # Bridge ID must already exist
        disconnected = false
        vlan_id      = {{ value["vlan_id"] }}
      }
      {% endfor %}
    }
  }
  {% endfor %}
}